.interactive-input-host {
  background: #F8F8F7;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 32px 50px 24px 50px;
}

.interactive-input-host h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  /* identical to box height */
  color: #050038;
  margin-bottom: 24px;
}

.interactive-input-container {
  background: #fff;
  border-radius: 8px 8px 0 0;
  background: #FFFFFF;
  border: 1px solid #C3C2CF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 135px; /* this value cuts the last line in half, so that user can get a  hint that input is scrollable */
}

.interactive-input {
  display: flex;
  flex-wrap: wrap;
}

.interactive-input-value {
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding: 0 0 0 8px;
  line-height: 24px;
  display: flex;
  flex-basis: auto;
  margin: 2px;

}

.interactive-input-value_invalid {
  
}

.interactive-input-delete-btn {
  border: none;
  background: none;
  font-size: 16px;
  border-radius: 0 100px 100px 0;
}

.interactive-input-delete-btn:hover {
}