.interactive-input-host {
  background: #f8f8f7;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 32px 50px 24px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  box-sizing: border-box;
}

.interactive-input-host h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  /* identical to box height */
  color: #050038;
  margin-bottom: 24px;
}

.interactive-input-container {
  background: #fff;
  border-radius: 8px 8px 0 0;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.interactive-input-value {
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding: 0 0 0 8px;
  line-height: 24px;
  display: flex;
  flex-basis: auto;
  margin: 2px;
  position: relative;
}

.interactive-input-value__invalid {
  background: none;
}

.interactive-input-value__invalid:after {
  display: block;
  position: absolute;
  border-top: 1px dashed #D92929;
  content: "";
  left: 8px;
  right: 8px;
  bottom: 0;
}

.interactive-input-delete-btn {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 1;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.interactive-input-delete-btn:active {
  color: inherit;
}

.interactive-input-new-value {
  border: none;
  padding: 0 0 0 8px;
  font-size: 14px;
}
